<div class="container">
  <!-- Search Product Form -->
  <div class="form-container">
    <form class="search-form">
      <mat-form-field class="full-width">
        <mat-label>Wyszukaj produkt</mat-label>
        <input matInput name="name" [(ngModel)]="this.name">
      </mat-form-field>
    </form>
  </div>

  <!-- Sorting Options -->
  <div class="form-container">
    <mat-form-field class="full-width">
      <mat-label>Sortowanie</mat-label>
      <mat-select [(value)]="selectedDirectionValue">
        <mat-option value="ascending" (click)="clickAscending()">Cena rosnąco</mat-option>
        <mat-option value="descending" (click)="clickDescending()">Cena malejąco</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="form-container">
    <mat-form-field class="full-width">
      <mat-label>Filtrowanie</mat-label>
      <mat-select [(value)]="selectedSortValue">
        <mat-option value="both" (click)="clickBoth()">Aktywne i nieaktywne</mat-option>
        <mat-option value="active" (click)="clickActive()">Aktywne</mat-option>
        <mat-option value="inactive" (click)="clickInactive()">Nieaktywne</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <!-- Basic Button -->
  <div class="button-container">
    <button mat-raised-button color="primary" style="height: 50px;" (click)="searching()">Szukaj</button>
  </div>
</div>

<div *ngIf="data && data.length > 0; else noDataTemplate">
  <div class="card-container">
    <div *ngFor="let p of data" [app-product-row]="p" (click)="redirectToProductDetails(p.productId)"></div>    
</div>
</div>

<ng-template #noDataTemplate>
  <div class="no-data-message">
      Brak produktów do wyświetlenia.
  </div>
</ng-template>



<mat-paginator 
  [pageSizeOptions]="pageOptions" 
  [length]="totalItems"
  [pageSize]="pageSize"
  (page)="handlePageEvent($event)">
</mat-paginator>
  