<mat-form-field class="sort">
  <mat-label>Sortowanie</mat-label>
  <mat-select>
    <mat-option value="nazwa">Alfabetycznie</mat-option>
    <mat-option value="cena">Po cenie</mat-option>
  </mat-select>
</mat-form-field>


<div class="card-container">
    <div class="selectable" *ngFor="let p of data" [app-product-row]="p" (click)="redirectToProductDetails(p.productId)"></div>    
</div>
  


<mat-paginator 
  [pageSizeOptions]="pageOptions" 
  [length]="totalItems"
  [pageSize]="pageSize"
  (page)="handlePageEvent($event)">
</mat-paginator>
  